:root {
    --color-white: #FFF;
    --color-black: #000;
    --color-green: #09985A;
    --color-disabled: rgba(0, 0, 0, 0.1);
    --color-text-primary: #000000;
    --color-text-nav: #717171;
    --color-text-secondary: #5B5B5B;
    --color-text-error: #DC552E;
    --color-text-success: #09985A;
    --color-bg-primary: #FDFEFF;
    --color-bg-tag: #ECEEED;
    --color-secondary: #5B5B5B;
    --color-success: #09985A;
    --color-border: #ECECEC;
}